*.tgz
npm-debug.log*
*.log
.npm
.eslintcache
.idea/
coverage/
.env*

node_modules/

# AoC prefers we not publish the inputs, so it's not as easy to totally steal
# the site
src/day*.txt
# Don't leak my cookie file
.cookies.txt
